.env
config.js

# Exclude all files except portfolio-related ones
*
!portfolio.html
!portfolio.css
!portfolio.js
!portfolio-edit.html
!portfolio-edit.css
!portfolio-edit.js
!README.md
!rachael.html
!rachael.css
!rachael.js
!Rachael_Eseohe_CV.docx
!.gitignore
!netlify.toml
*.html
*.js
*.css
!rachael.html
!rachael.css
!rachael.js
*.ini
*.cfg
*.txt
*.md
*.json
*.xml
*.ods
*.odc
*.tps
*.tde
*.tds
*.twb
*.twbx
*.hyper
*.tbs
*.tbm
*.tbp
*.tbr
*.tbc
*.tbw
*.tbd
*.tbe
*.tbv
*.tbt
*.tba
*.tbb
*.tbh
*.tbi
*.tbk
*.tbl
*.tbn
*.tbo
*.tbp
*.tbr
*.tbs
*.tbt
*.tbu
*.tbv
*.tbw
*.tbx
*.tby
*.tbz
*.tca
*.tcb
*.tcc
*.tcd
*.tce
*.tcf
*.tcg
*.tch
*.tci
*.tcj
*.tck
*.tcl
*.tcm
*.tcn
*.tco
*.tcp
*.tcq
*.tcr
*.tcs
*.tct
*.tcu
*.tcv
*.tcw
*.tcx
*.tcy
*.tcz
*.tda
*.tdb
*.tdc
*.tdd
*.tde
*.tdf
*.tdg
*.tdh
*.tdi
*.tdj
*.tdk
*.tdl
*.tdm
*.tdn
*.tdo
*.tdp
*.tdq
*.tdr
*.tds
*.tdt
*.tdu
*.tdv
*.tdw
*.tdx
*.tdy
*.tdz
*.tea
*.teb
*.tec
*.ted
*.tee
*.tef
*.teg
*.teh
*.tei
*.tej
*.tek
*.tel
*.tem
*.ten
*.teo
*.tep
*.teq
*.ter
*.tes
*.tet
*.teu
*.tev
*.tew
*.tex
*.tey
*.tez
*.tfa
*.tfb
*.tfc
*.tfd
*.tfe
*.tff
*.tfg
*.tfh
*.tfi
*.tfj
*.tfk
*.tfl
*.tfm
*.tfn
*.tfo
*.tfp
*.tfq
*.tfr
*.tfs
*.tft
*.tfu
*.tfv
*.tfw
*.tfx
*.tfy
*.tfz
*.tga
*.tgb
*.tgc
*.tgd
*.tge
*.tgf
*.tgg
*.tgh
*.tgi
*.tgj
*.tgk
*.tgl
*.tgm
*.tgn
*.tgo
*.tgp
*.tgq
*.tgr
*.tgs
*.tgt
*.tgu
*.tgv
*.tgw
*.tgx
*.tgy
*.tgz
*.tha
*.thb
*.thc
*.thd
*.the
*.thf
*.thg
*.thh
*.thi
*.thj
*.thk
*.thl
*.thm
*.thn
*.tho
*.thp
*.thq
*.thr
*.ths
*.tht
*.thu
*.thv
*.thw
*.thx
*.thy
*.thz
*.tia
*.tib
*.tic
*.tid
*.tie
*.tif
*.tig
*.tih
*.tii
*.tij
*.tik
*.til
*.tim
*.tin
*.tio
*.tip
*.tiq
*.tir
*.tis
*.tit
*.tiu
*.tiv
*.tiw
*.tix
*.tiy
*.tiz
*.tja
*.tjb
*.tjc
*.tjd
*.tje
*.tjf
*.tjg
*.tjh
*.tji
*.tjj
*.tjk
*.tjl
*.tjm
*.tjn
*.tjo
*.tjp
*.tjq
*.tjr
*.tjs
*.tjt
*.tju
*.tjv
*.tjw
*.tjx
*.tjy
*.tjz
*.tka
*.tkb
*.tkc
*.tkd
*.tke
*.tkf
*.tkg
*.tkh
*.tki
*.tkj
*.tkk
*.tkl
*.tkm
*.tkn
*.tko
*.tkp
*.tkq
*.tkr
*.tks
*.tkt
*.tku
*.tkv
*.tkw
*.tkx
*.tky
*.tkz
*.tla
*.tlb
*.tlc
*.tld
*.tle
*.tlf
*.tlg
*.tlh
*.tli
*.tlj
*.tlk
*.tll
*.tlm
*.tln
*.tlo
*.tlp
*.tlq
*.tlr
*.tls
*.tlt
*.tlu
*.tlv
*.tlw
*.tlx
*.tly
*.tlz
*.tma
*.tmb
*.tmc
*.tmd
*.tme
*.tmf
*.tmg
*.tmh
*.tmi
*.tmj
*.tmk
*.tml
*.tmm
*.tmn
*.tmo
*.tmp
*.tmq
*.tmr
*.tms
*.tmt
*.tmu
*.tmv
*.tmw
*.tmx
*.tmy
*.tmz
*.tna
*.tnb
*.tnc
*.tnd
*.tne
*.tnf
*.tng
*.tnh
*.tni
*.tnj
*.tnk
*.tnl
*.tnm
*.tnn
*.tno
*.tnp
*.tnq
*.tnr
*.tns
*.tnt
*.tnu
*.tnv
*.tnw
*.tnx
*.tny
*.tnz
*.toa
*.tob
*.toc
*.tod
*.toe
*.tof
*.tog
*.toh
*.toi
*.toj
*.tok
*.tol
*.tom
*.ton
*.too
*.top
*.toq
*.tor
*.tos
*.tot
*.tou
*.tov
*.tow
*.tox
*.toy
*.toz
*.tpa
*.tpb
*.tpc
*.tpd
*.tpe
*.tpf
*.tpg
*.tph
*.tpi
*.tpj
*.tpk
*.tpl
*.tpm
*.tpn
*.tpo
*.tpp
*.tpq
*.tpr
*.tps
*.tpt
*.tpu
*.tpv
*.tpw
*.tpx
*.tpy
*.tpz
*.tqa
*.tqb
*.tqc
*.tqd
*.tqe
*.tqf
*.tqg
*.tqh
*.tqi
*.tqj
*.tqk
*.tql
*.tqm
*.tqn
*.tqo
*.tqp
*.tqq
*.tqr
*.tqs
*.tqt
*.tqu
*.tqv
*.tqw
*.tqx
*.tqy
*.tqz
*.tra
*.trb
*.trc
*.trd
*.tre
*.trf
*.trg
*.trh
*.tri
*.trj
*.trk
*.trl
*.trm
*.trn
*.tro
*.trp
*.trq
*.trr
*.trs
*.trt
*.tru
*.trv
*.trw
*.trx
*.try
*.trz
*.tsa
*.tsb
*.tsc
*.tsd
*.tse
*.tsf
*.tsg
*.tsh
*.tsi
*.tsj
*.tsk
*.tsl
*.tsm
*.tsn
*.tso
*.tsp
*.tsq
*.tsr
*.tss
*.tst
*.tsu
*.tsv
*.tsw
*.tsx
*.tsy
*.tsz
*.tta
*.ttb
*.ttc
*.ttd
*.tte
*.ttf
*.ttg
*.tth
*.tti
*.ttj
*.ttk
*.ttl
*.ttm
*.ttn
*.tto
*.ttp
*.ttq
*.ttr
*.tts
*.ttt
*.ttu
*.ttv
*.ttw
*.ttx
*.tty
*.ttz
*.tua
*.tub
*.tuc
*.tud
*.tue
*.tuf
*.tug
*.tuh
*.tui
*.tuj
*.tuk
*.tul
*.tum
*.tun
*.tuo
*.tup
*.tuq
*.tur
*.tus
*.tut
*.tuu
*.tuv
*.tuw
*.tux
*.tuy
*.tuz
*.tva
*.tvb
*.tvc
*.tvd
*.tve
*.tvf
*.tvg
*.tvh
*.tvi
*.tvj
*.tvk
*.tvl
*.tvm
*.tvn
*.tvo
*.tvp
*.tvq
*.tvr
*.tvs
*.tvt
*.tvu
*.tvv
*.tvw
*.tvx
*.tvy
*.tvz
*.twa
*.twb
*.twc
*.twd
*.twe
*.twf
*.twg
*.twh
*.twi
*.twj
*.twk
*.twl
*.twm
*.twn
*.two
*.twp
*.twq
*.twr
*.tws
*.twt
*.twu
*.twv
*.tww
*.twx
*.twy
*.twz
*.txa
*.txb
*.txc
*.txd
*.txe
*.txf
*.txg
*.txh
*.txi
*.txj
*.txk
*.txl
*.txm
*.txn
*.txo
*.txp
*.txq
*.txr
*.txs
*.txt
*.txu
*.txv
*.txw
*.txx
*.txy
*.txz
*.tya
*.tyb
*.tyc
*.tyd
*.tye
*.tyf
*.tyg
*.tyh
*.tyi
*.tyj
*.tyk
*.tyl
*.tym
*.tyn
*.tyo
*.typ
*.tyq
*.tyr
*.tys
*.tyt
*.tyu
*.tyv
*.tyw
*.tyx
*.tyy
*.tyz
*.tza
*.tzb
*.tzc
*.tzd
*.tze
*.tzf
*.tzg
*.tzh
*.tzi
*.tzj
*.tzk
*.tzl
*.tzm
*.tzn
*.tzo
*.tzp
*.tzq
*.tzr
*.tzs
*.tzt
*.tzu
*.tzv
*.tzw
*.tzx
*.tzy
*.tzz

# Directories
My Data Sources/
My Tableau Repository/
ScreenRecorder/
credential/
grok/
makehuman/
medsafe-site/

# Specific files
desktop.ini
admin.html
app.js
bluetooth_content_share.html
config.example.js
dashboard.html
index.html
login.html
signup.html
style.css
styles.css
